//================================================COLORS============================================================//

$main-dark: #1B2559;
$dark-grey: #A4A9AF;
$white: #FFFFFF;
$back: #F4F7FE;
$yellow: #FFB700;
$grey: #EAEDF0;
$secondary-black: #5E6D84;
$green: #38B000;
$red: #DC2F02;
$black: #000000;

$blue-gray: #6E7191;
$dark-blue: #14142B;
$blue: #1F3FE2;
$light-grey: #EFF0F6;
$light-blue: #38B2F8;
$purple: #7B61FF;
$golden-yellow: #EBC232;
$orange-red: #F4743B;

