//COLORS============================================================================================================//

$main-dark: #1B2559;
$dark-grey: #A4A9AF;
$white: #FFFFFF;
$back: #F4F7FE;
$yellow: #FFB700;
$grey: #EAEDF0;
$secondary-black: #5E6D84;
$green: #38B000;
$red: #DC2F02;
$black: #000000;
$brown-black: #212121;

$blue-grey: #6E7191;
$dark-blue: #14142B;
$secondary-dark-blue: #101634;
$blue: #1F3FE2;
$light-grey: #EFF0F6;
$light-blue: #38B2F8;
$purple: #7B61FF;
$violet: #9747FF;
$golden-yellow: #EBC232;
$orange-red: #F4743B;
$orange-yellow: #F4743B;
$off-white: #F9F9F9;



//FONT============================================================================================================//

$font-xsm: 0.75rem; // 12px
$font-sm: 0.875rem; // 14px 
$font-md: 1rem; // 16px 
$font-xl: 1.5rem; // 24px 

$font-family-main: "Manrope", sans-serif;
$font-family-poppins: "Poppins", "Manrope", sans-serif;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;

//ANIMATIONS============================================================================================================//

$transition-1: all 0.2s ease;

//BORDERS============================================================================================================//

$border: 1px solid $grey;

//SHADOWS============================================================================================================//
