@import "nullstyle";
@import "vars";

:root {
  color-scheme: light;
}

body {
  // color: light-dark($main-dark, white);
  color: $main-dark;
}

.working {
  background: linear-gradient(#000, #fff);
}
