@import "nullstyle";
@import "vars";
@import "mixins";

:root {
  color-scheme: light;
  // font-size: 16px;
  // font-size: 0.8333vw;
  font-size: clamp(14px, 0.8333vw, 18px);
}

body {
  // color: light-dark($main-dark, white);
  color: $main-dark;
  font-size: $font-md;
  font-family: $font-family-main;
}


h1 {
  font-size: $font-xl;
}

