@import "nullstyle";
@import "vars";

:root {
  color-scheme: light;
  font-size: 16px;
}

body {
  // color: light-dark($main-dark, white);
  color: $main-dark;
  font-size: $font-md;
  font-family: $font-family-main;
}


h1 {
  font-size: $font-xl;
}

